@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 355.7 100% 97.3%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 15%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 142.4 71.8% 29.2%;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-nav: var(--font-nav);
}

body {
  font-family: var(--font-body), serif;
  background-image: url("/images/mystical-cat-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #041714;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading), serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

h1 {
  text-shadow: 0 0 10px rgba(72, 255, 167, 0.3);
}

nav a {
  font-family: var(--font-nav), sans-serif;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
}

.glow-text {
  text-shadow: 0 0 8px rgba(72, 255, 167, 0.4);
}
